* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial;
  color: black;
}
body,
html {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
  transition: background 0.2s linear;
}
/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .language-select {
  display: flex;
  gap: 16px;
  align-items: center;
}

header .language-select select {
  padding: 4px;
}
/* Theme */
header .controlls {
  display: flex;
  justify-content: space-between;
  width: 100px;
}
body.dark {
  background-color: #292c35;
}

header .checkbox {
  opacity: 0;
  position: absolute;
}

header .label {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  height: 26px;
  width: 50px;
  transform: scale(1.15);
}

header .label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transition: transform 0.2s linear;
}

header .checkbox:checked + .label .ball {
  transform: translateX(24px);
}

header .label .fa-moon {
  color: #f1c40f;
}

header .label .fa-sun {
  color: #f39c12;
}

header .button-copy #copy-btn {
  background: none;
  border: none;
}

header .button-copy i {
  font-size: 24px;
  cursor: pointer;
}
/* MAIN */
main {
  flex: 1;
}

main .box {
  display: flex;
  flex-direction: column;
}
main .sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: rect(0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

main .text {
  border: solid 1px #000000;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  min-height: 100px;
  resize: vertical;
}
.btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
.btns a i,
.btns button i {
  text-align: center;
  font-size: 24px;
  margin-right: 8px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #222;
  border: 2px solid #222;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}
.btn.whatsapp,
.btn.telegram {
  transition: all 0.5s;
}

.btn.whatsapp {
  background-color: #1bd741;
}

.btn.telegram {
  background-color: #0099e6;
}

.btn.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

/* FOOTER - social media */

footer .social-media {
  display: flex;
  justify-content: center;
  gap: 16px;
}
footer .social-media a i {
  font-size: 32px;
  transition: all 0.5s;
}

footer .social-media a i:hover {
  transform: scale(1.15);
}

/* Responsividade */

@media only screen and (min-width: 768px) {
  .btns {
    flex-direction: row;
  }
}
