* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial;
  color: black;
}

body{  
  padding: 16px;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .language-select{
  display: flex;
  gap: 16px;
  align-items:center;
  margin-bottom: 8px;
}

header .language-select select{
  padding: 4px;
}

header .button-copy.copy-btn{
  background: none;
  border: none;
}

header .button-copy img{
  width: 5vW;
  height: 5vh;
  cursor: pointer;  
}

main .box {
  display: flex;
  flex-direction: column;
}
main .sr-only{
  position: absolute;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

main .text {
  border: solid 1px #000000;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  min-height: 100px;
  resize: vertical;
}

.btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.btn {
  background-color: #222;
  color: #eee;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;  
  text-decoration: none;
  text-align: center;
}

.btn.whatsapp{
  background-color:#25D366;
}

.btn.telegram{
  background-color:#0088cc;
}

.btn.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

/* Responsividade */

@media only screen and (min-width: 768px) {
.btns{
  flex-direction: row;
}
}